<h1>Ask the coach something:</h1>
<form action="/answer" data-turbo="false" class="input-group mb-3">
  <input type="text" class="form-control" name="answer" placeholder="Say something!">
  <input type="button" class="btn btn-primary" type="submit" value="Ask!">
</form>
